# Base de datos
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=expediente_juridico
DATABASE_USER=
DATABASE_PASSWORD=

# Backend
BACKEND_PORT=3000
NODE_ENV=development

# Frontend
API_URL=http://localhost:3000

# Uploads
UPLOAD_PATH=uploads
MAX_FILE_SIZE_MB=10

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
